body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Incio estilos header */

h1{
    font-size: 20px;
}

#logo{
    background-color: blue;
    
}

#programa{
    background-color: lightblue;
    
}

#facebook{
    background-color: gray;
    
}

#login{
    background-color: aqua;
}

#banner{
    background-color: black;
    color: white;
    
}

/* Fin estilos header */

/* Incio estilos acerca de... */

#perfil{
    background-color: yellow;
    
}

#nombre{
    background-color: red;
    
    
}
#info{
    background-color: green;  
}

#info2{
    background-color: brown;
}

/* Fin estilos acerca de... */

/* Incio estilos educación */

#logo_ok{
    max-width: 60%;
}

@media all and (min-width: 599px) and (max-width:1023px) {
    #logo_ok{
        width: 20%;
    }
}

/* Fin estilos acerca de... */


